@using Contentful.Core.Models
@model ContentfulCollection<Cat>

@{
    ViewData["Title"] = "Home Page";
}

<h1 class="pb-4 text-center">Cats</h1>

<p style="text-align: justify;">On this website you can find some more information about certain breeds of cats, more specific, how they look, 
    what their weight can be... You can also read about some nice toys I chose, which cats will love. There is also information about
    cat beds which will be very comfortable for your cat. But I will also show some good scratching posts so your cat won't ruin your
    furniture. And lastly, I have also a page in which I recommend certain food options. I will show some wet and dry food, but also 
    treats.</p>

<p class="text-center">Have fun reading!</p>
<div class="d-flex justify-content-center">
<img src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/funny-cute-cat-reading-book-michal-bednarek.jpg" height="350px"/>
</div>